

    .listview {
    }

    .listview .groupTitle {
        outline: yellow solid 1px;
    }
    .listview .group {
        outline: lightgray solid 1px;
        width: 
    }

    .listview .itemscontainer {
                position: relative;

        outline: green solid 1px;
    }
    .listview .item {
        position: absolute;      
        outline: red solid 1px;

    }


